/* === GENERAL RULES === */
body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white; /* Old browsers */

    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}
   
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.flex-img-center {
    display: flex;
    justify-content: center;
    align-self: center;

    margin: 0 auto;
}

#root {
    min-height: 150vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* was 100 or */
}

.no-padding {
    padding: 0px;
}

.fill {
    min-height: 100vh;
    height: 100%;
}

.max-width-100 {
    width: auto;
    max-width: 100%;
    margin: 0 auto; /* Center horizontally */
}

.lightGreen-gradient {
    background: -moz-linear-gradient(top,  #ffffff 0%, #b7df2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}

.pink-purple-blue-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dc0181+0,091c8e+50,005cbe+100 */
    background: #dc0181; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #dc0181 0%, #091c8e 50%, #005cbe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0181', endColorstr='#005cbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* == React Router Transition */
.switch-wrapper {
    position: relative;
  }
  
.switch-wrapper > div {
    width: 100%;
    position: absolute;
}

/* === HEADER === */

section.header-section {
    margin: 0 auto;
}

header.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/img/harza-ondas.svg");
    background-color: white; /* #C9E763 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110px;
    margin-bottom: 33px;
}

@media only screen and (min-width: 516px) and (max-width: 691px) {
    header.header {
        height: 75px;
        margin-bottom: 68px;
    }
}

@media only screen and (max-width: 575px) {
    header.header {
        height: 55px;
        margin-bottom: 88px;
    }
}

.headerImage-quote-container {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-top: 10px;
    /* background-color: #006726; */
    border-radius: 100%;
    opacity: 1.0;
    max-width: 416px;
    flex-direction: column;
}

@media only screen and (max-width: 575px) {
    .headerImage-quote-container {
        display: none;
    }
}

.header-image {
    max-width: 300px;
    margin: 0 auto;
    /* -webkit-box-shadow: 15px 15px 45px 0px rgba(129,185,94,1);
    -moz-box-shadow: 15px 15px 45px 0px rgba(129,185,94,1);
    box-shadow: 15px 15px 45px 0px rgba(129,185,94,1); */
} 

p.header-slogan {
    position: relative;
    color: black;
    font-size: 1.1em;
    /* background-color: #59a04d; */

    margin-top: 3%;
    padding: 5px 8px;
    text-align: center;
}

div.needAQuote-box {
    position: relative;
    max-width: 350px;
    right: 5%;
    background-color: #ffffffb3;
    text-align: center;
    border: 5px solid #b2b2b5;
    padding: 8px;
    border-radius: 10%;
    /* border-radius: 50%; */
}

@media only screen and (max-width: 575px) {
    div.needAQuote-box {
        display: none;
    }
}

.quoteBox-header {
    font-size: 1.1em;
    font-weight: bold;
}

.needAQuote-box p {
    font-size: 0.8em;
    margin: 5px 0px; 
}

.needAQuote-box p a{
    color: black;
}

.quoteBox-phoneNumber {
    margin: 0px 10px;
}

.quote-phone-icon {
    font-size: 1.2em;
    margin-right: 5px;
    color: green;
}

.quoteBox-mailIcon {
    display: block;
    color: green;
}

.quote-mail-icon {
    color: green;
    margin-right: 2px;
}

.justify-to-end {
    margin-left: auto;
}

/* === NAVIGATION === */
.navigation {
    margin-top: 10px;
}

.collapsedNav-logo img {
    width: 150px;
}

.navbar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6ab335+0,006726+100 */
    background: #dc0181; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #dc0181 0%, #091c8e 50%, #005cbe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #dc0181 0%,#091c8e 50%,#005cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0181', endColorstr='#005cbe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    margin-top: 10px;
}
/* NavBar Toggle */
.collapsedNav-logo.navbar-brand {
    display: none;
}

@media only screen and (max-width: 575px) {
    .collapsedNav-logo.navbar-brand {
        display: block;
    }
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}


.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
    
.nav-search-icon {

}

@media only screen and (max-width: 575px) {
    .navbar {
        background-color: green;
    }
}

.navLinks,
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    opacity: 1.0;
    /* border-right: solid 1px white; */
    padding-right: 10px;
    padding-bottom: 0px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navLinks:hover {
    color: #FFB914;
}

/* @media only screen and (max-width: 991px) {
    .navLinks,
    .navbar-dark .navbar-nav .nav-link { 
        font-size: 0.6em;
    }  
} */

/* === HOME === */
.home-slideshow {
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000; */
}

/* Slideshow CSS */

/* === HOME === */
/* == Slider == */
.slider{
    max-width:100%;
    height:175px;
    max-height: 100%;
    margin:10px auto;
    /* border:1px solid; */
    border-radius: 5px;
    overflow:hidden;

    box-shadow: -3px 3px 19px 0px rgba(0,0,0,0.45);
    /* box-shadow: -3px 10px 25px 0px rgba(0,0,0,0.54); */
  }

@media only screen and (max-width: 767px) {
    .slider {
        height: 125px;
    }
}

.slides-container{
    width:400%;
    height:100%;
    animation:slide 16s infinite;
      /*-webkit-animation-iteration-count: 2,2,2,2; /* Chrome, Safari, Opera */
      /*animation-iteration-count: 2,2,2,2;*/
  }
  .slides-container div{
    width:25%;
    height:100%;
    float:left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  .slider-1{
    background-image: url('../assets/img/Banner1.jpg');
  }
  .slider-2{
    background-image: url('../assets/img/Banner2.jpg');
  }
  .slider-3{
    background-image: url('../assets/img/Banner1.jpg');
  }
  .slider-4{
    background-image: url('../assets/img/Banner2.jpg');
  }
  
  @keyframes slide{
    0%,100% {
          margin-left:0%;
      }
      
      12% {
          margin-left:0%;
      }
      
      24% {
          margin-left:-100%;
      }
      
      36% {
          margin-left:-100%;
      }
      
      48% {
          margin-left:-200%;
      }
      
      60% {
          margin-left:-200%;
      }
      
      72% {
          margin-left:-300%;
      }
      
      84% {
          margin-left:-300%;  
      }
  }

.tapeTypes {
    margin: 5px;
    padding: 3px;
}

#foodGradeTapes {
    color: #0000ff;
    text-decoration: underline;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    cursor: pointer;
}

#customPrintedTapes {
    color: #468816;
    text-decoration: underline;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    cursor: pointer; 
}

/* === FOOTER === */
footer {
    font-size: 0.8em;
    padding: 0% 5%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #008125;
}

#footer-nav {
    background-color: #005D17;
    padding: 0% 10%;
}

#footer-nav-misc {
    background-color: #005D17;

    padding: 0% 38%;
}

#footer-nav-misc div a {
   color: white;
}

#footer-nav div a {
    color: white;
}

.footer-contact {
    color: white;
}

.footer-contact a {
    color: white;
    cursor: pointer;
    margin-left: 3px;
}

.footer-contact-icon {
    margin-right: 3px;
}

section#contactSession {
    padding: 0% 22%;
}

section#footer-copyright {
    /* font-size: 0.8em; */
}

#fontAwesome-copyright {
    margin-left: 5px;
}

p#footer-designedBy {
    font-size: 0.78em;
}

/* === ABOUT US === */
.aboutUs-container {
    /* padding: 40px 80px; */
    padding: 5% 10%;
}

.aboutUs-header {
    color: #EA6010;
    font-size: 1.2em;
}

.visionMission-container {
    margin-top: 20px;
}

/* === PRODUCTS === */
aside.products-sidebar {
    
}
.productsContainer {
    padding: 30px;
    padding-top: 0px;
    /* border: 1px solid black; */
}

section.productsRow {
    width: 100%; 
    padding: 1% 10%;
}

.productsContainer ul {
    margin-top: 10px;
}

.productsContainer ul li {
    font-size: 0.8em;
    color: black;
}

/* === LOCATION === */
.locationBox {
    padding: 10px;
    border: 1px solid black;
}